@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: black;
}

a{
    text-decoration: none;
}

.container {
    /* Aquí se está configurando la altura al 100% de la altura visible de mi navegador */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor-titulo {
    font-size: 3.5rem;
    font-weight: 500;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.contenedor-titulo span {
    color: crimson;
}

.cta {
    background-color: transparent;
    border: 2px solid crimson;
    color: white;
    display: inline-block;
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-top: 30px;
    transition: background-color .3s;
}
.cta:hover {
    color: white;
    background-color: crimson;

}

#encabezado {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
}

#encabezado .encabezado {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
}

#encabezado .encabezado .barraDeNavegacion {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0 10px;
}

#encabezado .encabezado-logo h1 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

#encabezado .encabezado-logo h1 span {
    color: crimson;
}



#encabezado .ListaNavegacion ul {
    list-style: none;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    position: absolute;
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#encabezado .ListaNavegacion ul.activo {
    left: 0;
}
#encabezado .ListaNavegacion ul a{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px;
    
}

#encabezado .ListaNavegacion ul a::after{
    content: attr(data-after);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 9rem;
    letter-spacing: 50px;
    z-index: -1;
    position: absolute; 
    transition: .3s ease letter-spacing;
}

#encabezado .ListaNavegacion ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#encabezado .ListaNavegacion .hamburgesa {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0.8);
    /* margin-right: 20px; */
}

#encabezado .hamburgesa:after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    animation: pulso-hamburguesa 1s ease infinite;
}

#encabezado .hamburgesa .barra {
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
    z-index: -1;
}

#encabezado .hamburgesa .barra::before,
#encabezado .hamburgesa .barra::after {
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: .3s ease;
    transition-property: top, bottom;
}

#encabezado .hamburgesa .barra::before {
    top: 8px;
}

#encabezado .hamburgesa .barra::after {
    bottom: 8px;
}

#encabezado .hamburgesa.activo .barra::before {
    top: 0;
}
#encabezado .hamburgesa.activo .barra::after {
    bottom: 0;
}

#heroe {
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#heroe::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#heroe h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: revelado_texto .5s ease forwards;
}

#heroe h1:nth-child(1)
{
    animation-delay: 1s;
}
#heroe h1:nth-child(2)
{
    animation-delay: 2s;
}
#heroe h1:nth-child(3)
{
    animation: revelado_texto_nombre .5s ease forwards;
    animation-delay: 3s;
}

#heroe h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: revelado_texto_caja 1s ease;
}

/*  */

#heroe h1:nth-child(1) span
{
    animation-delay: .5s; /* Tiempo de espera más duración  igual a 1.5s */
}
#heroe h1:nth-child(2) span
{
    animation-delay: 1.5s;
}
#heroe h1:nth-child(3) span
{
    animation-delay: 2.5s;
}



/* Sección de servicios */


#servicios .servicios-contenedor {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#servicios .servicios-contenedor-general {
    max-width: 600px;
    margin: 0 auto;
}

#servicios .servicios-contenedor-particulares {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#servicios .servicios-contenedor-particulares_tarjeta {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#servicios .servicios-contenedor-particulares_tarjeta::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    z-index: -1;
    opacity: .9;
}

#servicios .servicios-contenedor-particulares_tarjeta .icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

#servicios .servicios-contenedor-particulares_tarjeta h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
}

#servicios .servicios-contenedor-particulares_tarjeta p {
    color: white;
}

/* Fin de la sección de servicios */

/* Sección de proyectos */

#proyectos .proyectos-contenedor {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 100px 0; */
}

#proyectos .proyectos-encabezado h1 {
    margin-bottom: 30px;
}

#proyectos .proyectos-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#proyectos .proyectos-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
}

#proyectos .proyectos-tarjeta-informacion {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#proyectos .proyectos-tarjeta-informacion h1 {
    font-size: 3.7rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

#proyectos .proyectos-tarjeta-informacion h2 {
    font-size: 1.7rem;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 2px;
    letter-spacing: 0.1rem;
}

#proyectos .proyectos-tarjeta-informacion p {
    color: white;
    text-align: center;
}

#proyectos .proyectos-tarjeta-imagen {
    flex-basis: 200px;
    /* height: 200px; */
    width: 100%;
    overflow: hidden;
    position: relative;
}

#proyectos .proyectos-tarjeta-imagen::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#proyectos .proyectos-tarjeta-imagen img {
    transition: .3s ease transform;
}

#proyectos .proyectos-tarjeta:hover .proyectos-tarjeta-imagen img {
    transform: scale(1.1);
}

/* Fin de la sección de proyectos */

/* Sección acerca de mí */
#acercaDeMi .acercaDeMiContenedor {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#acercaDeMi .acercaDeMiContenedor-imagen {
    width: 220px;
    height: 330px;
    position: relative;
    border: 10px solid white;
    z-index: auto;

}

#acercaDeMi .acercaDeMiContenedor-imagen::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

#acercaDeMi .acercaDeMiContenedor-texto {
    width: 100%;
}

#acercaDeMi .acercaDeMiContenedor-texto h2 {
    font-size: 1.7rem;
    font-weight: 550;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

#acercaDeMi .acercaDeMiContenedor-texto p {
    margin-bottom: 25px;

}

#acercaDeMi .acercaDeMiContenedor-texto .cta {
    font-size: 1.3rem;
    color: black;
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px 25px;
}

#acercaDeMi .acercaDeMiContenedor-texto .cta:hover {
    color: white;
}
/* Fin de la sección acerca de mí */

/* Sección de contacto */
#contacto .contacto {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contacto .contacto-tarjetas {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#contacto .contacto-tarjeta {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 18px 0 #0000002c;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: .3s ease box-shadow;
}

#contacto .contacto-tarjeta:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contacto .contacto-tarjeta .contacto-tarjeta-icono{
    width: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contacto .contacto-tarjeta-texto h2 {
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
}
/* Fin de la sección de contacto */

/* Pie de página */
#pieDePagina {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#pieDePagina .pieDePagina {
    min-height: 100% ;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    margin-top: 100px;
    padding-top: 40px;
}

#pieDePagina .pieDePagina-textoSuperior h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
    color: white;
    margin-bottom: 5px;
    font-weight: 600;
}

#pieDePagina .pieDePagina-textoSuperior p {
    font-size: 1.3rem;
    color: white;
    margin-top: 0;
    font-weight: 600;
}

#pieDePagina .pieDePagina-iconos {
    padding: 10px;
    display: flex;
}

#pieDePagina .pieDePagina-icono {
    margin: 0 20px;
    width: 30px;
    height: 30px;
}

#pieDePagina .pieDePagina-icono img {
    filter: grayscale(1);
    transition: .2s ease filter;
}

#pieDePagina .pieDePagina-icono:hover img {
    filter: grayscale(0);
}

#pieDePagina .pieDePagina-textoInferior p {
    color: white;
    font-size: 1rem;
    margin-top: 0;
}

/* Fin del pie de página */
@keyframes pulso-hamburguesa {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes revelado_texto_caja {
    50% {
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes revelado_texto {
    100% {
        color: white;
    }
}

@keyframes revelado_texto_nombre {
    100% {
        font-weight: 600;
        color: crimson;
    }
}

/* Para tablets */
@media only screen and (min-width: 768px){
    /* Sección del heroe */
    #heroe h1 {
        font-size: 5rem;
    }

    .cta {
        font-size: 2.1rem;
        padding: 13px 42px;
    }
    /* Sección del heroe */

    .contenedor-titulo {
        font-size: 4rem;
    }

    /* Sección de servicios */
    #servicios .servicios-contenedor-particulares_tarjeta {
        flex-basis: 45%;
        margin: 1.66%;
    }
    /* Fin de las sección de servicios */

    /* Sección de proyectos */
    #proyectos .proyectos-tarjeta {
        width: 100%;
        border-radius: 0;
        margin: 0;
        height: 400px;
        flex-direction: row;
    }

    #proyectos .proyectos-tarjeta:nth-child(even) {
        flex-direction: row-reverse;
    }

    /* #proyectos .proyectos-tarjetas .proyectos-tarjeta-informacion {
        height: 100%;
        flex-basis: 50%;
    } */

    #proyectos .proyectos-tarjetas .proyectos-tarjeta-imagen {
        /* height: 100%; */
        flex-basis: 50%;
    }

    /* Fin de la sección de proyectos */

    /* Sección sobre mi */
    #acercaDeMi .acercaDeMiContenedor {
        flex-direction: row;
    }

    #acercaDeMi .acercaDeMiContenedor-texto {
        flex-basis: 50%;
        /* padding-left: 5%; */
        margin: 0 auto;
    }
    #acercaDeMi .acercaDeMiContenedor-imagen {
        flex-basis: 35%;
        height: 400px;
        margin-left: 5%;
    }

    #acercaDeMi .acercaDeMiContenedor .acercaDeMiContenedor-imagen::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    /* Fin de la sección sobre mi */

    /* Sección de contacto */

    #contacto .contacto {
        min-height: 100%;
        min-width: 20vh;
        margin: 200px auto;
    }

    #contacto .contacto .contacto-tarjetas {
        flex-direction: row;
        width: 100%;
        margin: 0 20px;
    }
    #contacto .contacto .contacto-tarjeta {
        flex-direction: row;
        padding: 7px;
        margin: 12px;
    }

   #contacto .contacto-tarjeta .iconoTextoChico {
        width: 50px;
        margin: 0 5% 0 0;
        height: 65px;
   }

   #contacto .contacto-tarjeta .iconoTextoGrande {
        width: 65px;
        margin: 0 5% 0 0;
        height: 65px;
   }

    #contacto .contacto-tarjeta-icono img{
        object-fit: contain;
    }

    #contacto .contacto-tarjeta .contacto-tarjeta-texto{
        width: auto;
    }

    /* #contacto .contacto-tarjeta .contacto-tarjeta-texto{
        width: 100%;
    } */

    #contacto .contacto-tarjeta .direccion-texto{
        width: 100%;
    }
    /* Fin de la sección de contacto */

    #pieDePagina .pieDePagina {
        margin-top: 0;
    }
}
/* Fin de para tablets */

/* Sección de computadora */
@media only screen and (min-width: 1200px){

    /* Sección de héroe */
    #heroe .hero h1 {
        font-size: 5rem;
    }

    .cta {
        font-size: 2.3rem;
        padding: 15px 44px;
    }

    /* Fin de la sección de héroe */

    .contenedor-titulo {
        font-size: 4.5 rem;
    }
    /* Sección de servicios */

    #servicios .servicios-contenedor-general p {
        font-size: 1.6rem;
    }

    #servicios .servicios-contenedor-particulares .servicios-contenedor-particulares_tarjeta {
        flex-basis: 22%;
        margin: 1.5%;
    }
    /* Sección de servicios */

    /* Sección de proyectos */
    #proyectos .proyectos-tarjeta:nth-child(1) {
        margin-top: 5px;
    }
    /* Fin de la sección de proyectos */

    /* Sección acerca de mi */
    #acercaDeMi .acercaDeMiContenedor-texto p {
        font-size: 1.5rem;
    }

    #acercaDeMi .acercaDeMiContenedor-imagen {
        flex-basis: 32%;
        height: 450px;
        margin-left: 5%;
    }
    /* Fin de la sección acerca de mi */

    /* Sección del pie de página */
    #pieDePagina .pieDePagina {
        padding: 20px 0;
    }

    #pieDePagina .pieDePagina .pieDePaginaContenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    #pieDePagina .pieDePagina .pieDePagina-textoSuperior {
        order: 1;
        flex-basis: 30%;
    }

    #pieDePagina .pieDePagina .pieDePagina-textoInferior {
        order: 0;
        flex-basis: 30%;
        /* text-align: start; */
        /* flex-shrink: 2; */
    }

    #pieDePagina .pieDePagina .pieDePagina-iconos {
        order: 2;
        flex-basis: 30%;
        justify-content: flex-start;
        padding: 0;
    }

    #pieDePagina .pieDePagina-iconos .pieDePagina-icono:nth-child(1) {
        margin-left: 0;
    }

    #pieDePagina .pieDePagina-iconos .pieDePagina-icono:nth-child(4) {
        margin-right: 0;
    }

    /* Sección del pie de página */

}

/* Fin de la sección de computadora */

